@model modelList
@using CNTI365.FACTUR.Models
@{
    ViewBag.Title = "ActivarCuenta";
    Layout = null;
}

<br /><br />

<center>
    <span><h2>@Model.msjActivarCuenta.response</h2></span>
    <label>Para inciar session ingrese <a href="https://localhost:44326/Home/Index">aqui</a></label>
    <span>Recuerde que la cuenta esta activa por 15 días. Para obtener una licencia escribenos a ventas@cnti365.com</span>
</center>

